
/* Formulario de consultas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image:url(img/fondito.png);
    background-repeat: repeat;


}


/* footer */

footer{
    background-color: black;
    color: white;
    font-family: monospace;
    position: static;
    bottom: 0; right: 0; left: 0;
    height: 80px;

}

footer a{
    color:white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    
    
}

footer a:hover{
    cursor: pointer;
    color: skyblue;
}




footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    margin-left: 3%;
   
    

}

footer p{
    text-align: center;
    color:white;
    padding: 10px;
    
}
footer img{
    margin-right: 10%;
    padding: 5px;
}

header{
    height: 60px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0; right: 0; left: 0;
   

}



#btn-menu{
    display: none;

}

#dropdown{
    margin-right: 15px;
}

header label {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menu ul{

    background-color: black;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 30px;
    gap: 30px;
    margin-top: 15px;
    
}

.menu ul ul{
    display: none;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color:white;
    text-decoration: none ;
}

.menu a:hover{
    background: rgba(124, 124, 124, 0.3);
    color:white;
    
}

.menu a span{
    margin-left: 10px;
}


.menu ul li:hover ul {
    display: block;
    position: absolute;
    z-index: 1;
    margin-top: 0;
}

header #logo img {
    width: 55px;
    
}


#mainContacto{
    margin-left: 18%;
    padding: 15px;
    margin-bottom: 10%;
    background-color: white;
    width: 800px;
    border: 3px solid black;
    opacity: 0.80;

}

#tituloContactos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

#tituloContactos h1{
    font-size: 35px;
}

#comentarioContactos{
    width: 300px;
    height: 250px;
}

.imputComentario{
    width: 230px;
}


@media (max-width: 801px){

    #mainContacto{
        width: 400px;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 5%;


    }

    h1{
        font-size: 15px;

    }

    header{
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
    }
    
    header label{
        display: block;
    }

    .menu{
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 0;
        width: 70%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .menu ul {
        display: block;
    }

    .menu ul li:hover ul{
        display: none;
        position: static;
        
    }

    .menu a span{
        position: absolute;
        right: 5px;
    }


    #btn-menu:checked ~ .menu {
        transform: translateX(0%);
    }

    .menu ul ul {
        background-color: rgb(59, 57, 57);
    }

   .menu ul ul a {
       padding: 15px 40px;
       
   }


   .main-texto h1{
    font-size: 25px;
    margin-top: 7%;
    margin-left: 3%;
    color: white;

   
   }

   .main-imagen{
    position: absolute;
    z-index: 0;
}


   footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;

}
footer li p{
    font-size: 15px;

}
.main-texto{
    display: flex;
    align-items: center;
    margin-bottom: 3%;

}




}